<% content_for :head do %>
  <%#= javascript_import_module_tag "hello_world" %>
  <%= javascript_import_module_tag "jquery" %>
  <%= javascript_import_module_tag "d3" %>
<% end %>
<div class="container">
<h1>Willkommen bei <%= t("application_name_html") %></h1>
<p>
  Wie können wir Ihnen helfen?
</p>
<div data-controller="hello">
  <input data-hello-target="name" type="text">

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-hello-target="output">
  </span>
</div>
<p>
  Ich brauche eine massgeschneiderte Webseite.
</p>
<p>
  Ich möchte Abläufe und Prozesse automatisieren.
</p>
<p>
  Ich möchte etwas testen lassen.
</p>
<hr />
<h2>
  Über <%= t("application_name_html") %>
</h2>
<p>
  Wir entwickeln Webseiten.
</p>
</div>

<div class="funky_button1">

</div>

<div id="funky_button1_pitch" style="width: 80%; visibility: hidden;" class="text-center">
  <p>
    Text
  </p>
</div>

<div id="funky_button1_cta" style="width: 50%; visibility: hidden;" class="text-center">
  <button type="button" class="button2">Text</button>
</div>

<script type="module" text="javascript">
  import * as d3 from "d3"
  import * as d3Funky from "d3-funky"

  console.log("epicness");
  $( document ).ready(function() {
    var funky_button = new d3Funky.funkyButton("funky_button1", {pitch: "<%= @pitch %>", cta: "<%= @cta %>"});
    funky_button.draw_chart();
  });
</script>
